[submodule "Libs/Utils"]
	path = Libs/Utils
	url = https://github.com/Otixa/du-utils.git
[submodule "Libs/SlotDetector"]
	path = Libs/SlotDetector
	url = https://github.com/Otixa/du-slot-detector.git
[submodule "Libs/Data"]
	path = Libs/Data
	url = https://github.com/Otixa/du-data-lib.git
