[submodule "Libs/Utils"]
	path = Libs/Utils
	url = https://gitlab+deploy-token-5:YiUnrbT628Q2rNNaJXWd@git.internal.st/dual-universe/utility-library.git
	ignore = dirty
[submodule "Libs/SlotDetector"]
	path = Libs/SlotDetector
	url = https://gitlab+deploy-token-3:Ea-sMHUtxk89jn5DzrWx@git.internal.st/dual-universe/slotdetector.git
	ignore = dirty
[submodule "Libs/Data"]
	path = Libs/Data
	url = https://gitlab+deploy-token-4:hJUQXMsLYzAyAmmRfy_o@git.internal.st/dual-universe/datalib.git
	ignore = dirty
